<p *ngIf="error"; else noError> Error while getting items. </p>

<ng-template #noError>

        <p>Available Components are: </p>

        <table class="table">
            
            <thead>        
                <tr>
                    <th scope="col"> Category</th>
                    <th scope="col"> Name</th>
                    <th scope="col"> Brand</th>
                    <th scope="col"> ProductLine</th>
                    <th scope="col"> NumberOfCores</th>
                    <th scope="col"> ProcessorClockSpeed</th>
                    <th scope="col"> GraphicClockSpeed</th>
                    <th scope="col"> Dimension</th>
                    <th scope="col"> Resolution</th>
                    <th scope="col"> Color</th>
                    <th scope="col"> InterfaceName</th>
                    <th scope="col"> Size</th>
                    <th scope="col"> Price</th>
                    <th scope="col"> Quantity</th>
                </tr>
            </thead>

        <!--    Try to embed typescript in html --> 

            <tbody>
                <tr>
                    <td>{{this.components[0].category}}</td>
                    <td>{{this.components[0].name}} </td>
                    <td>{{this.components[0].brand}}</td>
                    <td>{{this.components[0].productLine}}</td>
                    <td>{{this.components[0].numberOfCores}} </td>
                    <td>{{this.components[0].processorClockSpeed}}</td>
                    <td>{{this.components[0].graphicClockSpeed}}</td>
                    <td>{{this.components[0].dimension}}</td>
                    <td>{{this.components[0].resolution}} </td>
                    <td>{{this.components[0].color}}</td>
                    <td>{{this.components[0].interfaceName}}</td>
                    <td>{{this.components[0].size}}</td>
                    <td>{{this.components[0].price}} </td>
                    <td>{{this.components[0].quantity}}</td>
                </tr>

                <tr>
                    <td>{{this.components[1].category}}</td>
                    <td>{{this.components[1].name}} </td>
                    <td>{{this.components[1].brand}}</td>
                    <td>{{this.components[1].productLine}}</td>
                    <td>{{this.components[1].numberOfCores}} </td>
                    <td>{{this.components[1].processorClockSpeed}}</td>
                    <td>{{this.components[1].graphicClockSpeed}}</td>
                    <td>{{this.components[1].dimension}}</td>
                    <td>{{this.components[1].resolution}} </td>
                    <td>{{this.components[1].color}}</td>
                    <td>{{this.components[1].interfaceName}}</td>
                    <td>{{this.components[1].size}}</td>
                    <td>{{this.components[1].price}} </td>
                    <td>{{this.components[1].quantity}}</td>
                </tr>

                <tr>
                    <td>{{this.components[2].category}}</td>
                    <td>{{this.components[2].name}} </td>
                    <td>{{this.components[2].brand}}</td>
                    <td>{{this.components[2].productLine}}</td>
                    <td>{{this.components[2].numberOfCores}} </td>
                    <td>{{this.components[2].processorClockSpeed}}</td>
                    <td>{{this.components[2].graphicClockSpeed}}</td>
                    <td>{{this.components[2].dimension}}</td>
                    <td>{{this.components[2].resolution}} </td>
                    <td>{{this.components[2].color}}</td>
                    <td>{{this.components[2].interfaceName}}</td>
                    <td>{{this.components[2].size}}</td>
                    <td>{{this.components[2].price}} </td>
                    <td>{{this.components[2].quantity}}</td>
                </tr>

                <tr>
                    <td>{{this.components[3].category}}</td>
                    <td>{{this.components[3].name}} </td>
                    <td>{{this.components[3].brand}}</td>
                    <td>{{this.components[3].productLine}}</td>
                    <td>{{this.components[3].numberOfCores}} </td>
                    <td>{{this.components[3].processorClockSpeed}}</td>
                    <td>{{this.components[3].graphicClockSpeed}}</td>
                    <td>{{this.components[3].dimension}}</td>
                    <td>{{this.components[3].resolution}} </td>
                    <td>{{this.components[3].color}}</td>
                    <td>{{this.components[3].interfaceName}}</td>
                    <td>{{this.components[3].size}}</td>
                    <td>{{this.components[3].price}} </td>
                    <td>{{this.components[3].quantity}}</td>
                </tr>

            </tbody>

        </table>
    
</ng-template>