<p>Available Components are: </p>

<table class="table">
    
    <thead>        
        <tr>
            <th scope="col"> Category</th>
            <th scope="col"> Name</th>
            <th scope="col"> Brand</th>
            <th scope="col"> Price</th>
        </tr>
    </thead>

<!--    Try to embed typescript in html --> 

    <tbody>
        <tr>
            <td>{{this.components[0].category}}</td>
            <td>{{this.components[0].name}} </td>
            <td>{{this.components[0].brand}}</td>
            <td>{{this.components[0].price}}</td>
        </tr>

        <tr>
            <td>{{this.components[1].category}}</td>
            <td>{{this.components[1].name}} </td>
            <td>{{this.components[1].brand}}</td>
            <td>{{this.components[1].price}}</td>
        </tr>

        <tr>
            <td>{{this.components[2].category}}</td>
            <td>{{this.components[2].name}} </td>
            <td>{{this.components[2].brand}}</td>
            <td>{{this.components[2].price}}</td>
        </tr>

        <tr>
            <td>{{this.components[3].category}}</td>
            <td>{{this.components[3].name}} </td>
            <td>{{this.components[3].brand}}</td>
            <td>{{this.components[3].price}}</td>
        </tr>

    </tbody>

</table>